[submodule "external/assimp"]
	path = external/assimp
	url = https://github.com/assimp/assimp.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "external/nvidia-texture-tools"]
	path = external/nvidia-texture-tools
	url = https://github.com/castano/nvidia-texture-tools.git
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
